@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Besides this general layout developed by Microsoft, all code in this application is 100% Sam Lee's. Please don't steal! :(</p>
